<h1>Listing <%= @tournament.name %>'s matches</h1>

<% if !@matches.blank? %>
  <table>
    <tr>
      <th>Match</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @matches.each do |match| %>
    <tr>
      <td><%= link_to "#{match.incumbent.readable_name} vs. #{match.challenger.readable_name}", tournament_match_path(@tournament, match) %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>There are currently no matches for this tournament.</p>
<% end %>

<%= link_to 'Back', tournament_path(@tournament) %>
